.about-my-comfort-plus {
  padding-top: 120px;

  &__title {
    @include title-font;

    margin-bottom: 100px;

    text-align: center;
  }

  &__container {
    @include container;
  }
}

.about-my-comfort-plus__first {
  min-height: 758px;

  background-image: url("../img/family-on-couch.png");
  background-repeat: no-repeat;
  background-position: center left calc(50% + 630px);

  &-content {
    max-width: 690px;
    padding-top: 55px;
  }

  &-title {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: #000;
  }

  &-desc {
    margin: 0;

    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
  }
}
