.about-climat-online {
  margin-bottom: 160px;

  &__container {
    @include container;
  }

  &__note {
    margin: 0;
    margin-bottom: 25px;

    font-size: 24px;
    line-height: 27px;
    color: rgba(136, 136, 136, 0.8);
    text-align: center;
  }

  &__title {
    @include title-font;

    margin-bottom: 80px;

    text-align: center;
  }

  &__content {
    position: relative;

    display: flex;
    justify-content: space-between;

    max-width: 930px;
    margin: 0 auto 138px;
  }

  &__content::before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    width: 1px;
    height: 100%;

    background-color: #dddddd;
  }

  &__engineering-center-scheme {
    margin-bottom: 80px;
  }

  &__remark {
    margin: 0;

    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}

.about-climat-online__item {
  width: 330px;
  padding-top: 140px;

  &--status {
    background: url("../img/icon_status.svg") top center no-repeat;
    background-size: 90px 90px;
  }

  &--connection {
    background: url("../img/icon_connection.svg") top center no-repeat;
    background-size: 90px 90px;
  }

  &-title {
    margin: 0;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.63px;
    text-align: center;
  }

  &-desc {
    margin: 0;

    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
  }
}

.about-climat-online__diagnostic-title {
  display: none;
}

@include desktop-medium {
  .about-climat-online {
    &__note {
      font-size: 18px;
      line-height: 20px;
    }

    &__content {
      max-width: 760px;
      margin: 0 auto 130px;
    }

    &__engineering-center-scheme {
      margin-bottom: 50px;
    }

    &__remark {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .about-climat-online__item {
    width: 286px;
  }
}

@include tablet {
  .about-climat-online {
    &__content {
      max-width: 704px;
      margin: 0 auto 130px;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__remark {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .about-climat-online__item {
    width: 336px;
  }
}

@include mobile-l {
  .about-climat-online {
    margin-bottom: 100px;

    &__content {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 100px;
    }

    &__content::before {
      display: none;
    }

    &__title {
      padding: 0 50px;
    }

    &__remark {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .about-climat-online__item {
    width: 416px;

    &--status {
      padding: 140px 30px 0;
      margin-bottom: 50px;
    }
  }

  .about-climat-online__diagnostic-title {
    @include title-font;

    display: block;
    margin-bottom: 50px;

    text-align: center;
  }

  .about-climat-online__engineering-center-scheme {
    margin-bottom: 0;
  }
}

@include mobile {
  .about-climat-online {
    &__title {
      padding: 0;
    }

    &__remark {
      line-height: 26px;
    }
  }

  .about-climat-online__item {
    width: 288px;

    &--status {
      padding: 140px 0 0;
      margin-bottom: 50px;
    }
  }

  .about-climat-online__engineering-center-scheme  .engineering-center-scheme__items-wrapper {
    padding-bottom: 100px;
  }
}
