.advanced-functions {
  padding-top: 160px;
}

.advanced-functions__title {
  @include container;

  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: 300;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.advanced-functions__desc {
  @include container;

  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;

  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.67px;
}

.advanced-functions__first {
  @include container;

  margin-bottom: 160px;
}

.advanced-functions__first-container {
  min-height: 767px;
  padding: 13px 53px 0 51%;

  background-image: url("../img/advanced-groups.png");
  background-repeat: no-repeat;
  background-position: top 0 left 23.5%;

  @include retina {
    background-image: url("../img/advanced-groups@2x.png");
    background-size: 387px auto;
  }
}

.advanced-functions__item {
  padding-top: 140px;
  max-width: 450px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  background-repeat: no-repeat;
  background-position: left 50% top 0;

  &--status {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 80px;

    background-image: url("../img/icon_status.svg");
  }

  &--amount {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 80px;

    background-image: url("../img/icon_amount.svg");
  }

  &--admin {
    background-image: url("../img/icon_admin.svg");
  }

  &--location {
    margin-bottom: 105px;

    background-image: url("../img/icon_location.svg");
  }

  &--like {
    background-image: url("../img/icon_like.svg");
  }

  &--pin {
    margin-bottom: 80px;

    background-image: url("../img/icon_pin.svg");
  }

  &--calendar {
    background-image: url("../img/icon_calendar.svg");
  }

  &--data {
    margin-bottom: 80px;

    background-image: url("../img/icon_data.svg");
  }

  &--energy {
    background-image: url("../img/icon_energy.svg");
  }
}

.advanced-functions__item-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.63px;
}

.advanced-functions__item p {
  margin: 0;
}

.advanced-functions__second {
  max-width: 1920px;
  margin: 0 auto 160px;
  padding-top: 100px;

  background-image: url("../img/happy-people-2.png");
  background-repeat: no-repeat;
  background-position: top right;

  @include retina {
    background-image: url("../img/happy-people-2@2x.png");
    background-size: 1065px 800px;
  }
}

.advanced-functions__second-container {
  @include container;
}

.advanced-functions__second-content {
  max-width: 690px;
  min-height: 772px;
  padding: 88px 120px 89px;

  background-color: #f6f6f6;
}

.advanced-functions__third {
  @include container;

  position: relative;

  min-height: 767px;
  padding-top: 13px;
  margin-bottom: 160px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0;

    width: 387px;
    height: 767px;
  }

  &::before {
    left: 53px;

    background-image: url("../img/advanced-scenario.png")
  }

  &::after {
    right: 53px;

    background-image: url("../img/advanced-schedule.png")
  }

  @include retina {
    &::before {
      background-image: url("../img/advanced-scenario@2x.png");
      background-size: 387px auto;
    }

    &::after {
      background-image: url("../img/advanced-schedule@2x.png");
      background-size: 387px auto;
    }
  }
}

.advanced-functions__third-content {
  min-height: 742px;
  margin: 0 240px;
  padding: 84px 165px 20px;

  background-color: #f6f6f6;
}

.advanced-functions__third-content .advanced-functions__item {
  margin-left: auto;
  margin-right: auto;
}

.advanced-functions__third .advanced-functions__item--location,
.advanced-functions__third .advanced-functions__item--like {
  display: none;
}

.advanced-functions__fourth {
  max-width: 1920px;
  margin: 0 auto 160px;
  padding-top: 100px;

  background-image: url("../img/happy-people-3.png");
  background-repeat: no-repeat;
  background-position: top left;

  @include retina {
    background-image: url("../img/happy-people-3@2x.png");
    background-size: 1065px 800px;
  }
}

.advanced-functions__fourth-container {
  @include container;
}

.advanced-functions__fourth-content {
  max-width: 690px;
  min-height: 772px;
  margin-left: auto;
  padding: 88px 120px 89px;

  background-color: #f6f6f6;
}

.advanced-functions__fifth {
  @include container;

  margin-bottom: 160px;
}

.advanced-functions__fifth-container {
  padding-top: 125px;
  min-height: 750px;

  background-image: url("../img/mobile-app-l.png");
  background-repeat: no-repeat;
  background-position: top right;

  @include retina {
    background-image: url("../img/mobile-app-l@2x.png");
    background-size: 690px 750px;
  }
}

.advanced-functions__fifth-content {
  max-width: 810px;
  min-height: 500px;
  padding: 117px 120px 115px;

  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
}

.advanced-functions__assistants-title {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 300;
  font-size: 48px;
  line-height: 53px;
}

.advanced-functions__fifth-content ul {
  @include list-reset;
}

.advanced-functions__assistants-item {
  display: inline-block;
  height: 48px;

  background-repeat: no-repeat;

  &--homekit {
    width: 186px;
    margin-right: 10px;

    background-image: url("../img/homekit.png");

    @include retina {
      background-image: url("../img/homekit@2x.png");
      background-size: auto 48px;
    }
  }

  &--google {
    width: 184px;
    margin-right: 10px;

    background-image: url("../img/google-assistant.png");

    @include retina {
      background-image: url("../img/google-assistant@2x.png");
      background-size: auto 48px;
    }
  }

  &--alisa {
    width: 129px;

    background-image: url("../img/alisa-assistant.png");

    @include retina {
      background-image: url("../img/alisa-assistant@2x.png");
      background-size: auto 48px;
    }
  }
}

@include desktop-medium {
  .advanced-functions {
    padding-top: 80px;
  }

  .advanced-functions__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.32px;
  }

  .advanced-functions__desc {
    max-width: 85%;

    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .advanced-functions__first-container {
    min-height: 758px;
    padding: 0 53px 0 60%;

    background-image: url("../img/advanced-groups-medium.png");
    background-position: top 0 left 13%;
    background-size: 365px auto;

    @include retina {
      background-image: url("../img/advanced-groups-medium@2x.png");
    }
  }

  .advanced-functions__item {
    max-width: 286px;

    line-height: 21px;

    &--status {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 64px;
    }

    &--amount {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 64px;
    }

    &--location {
      margin-bottom: 64px;
    }

    &--pin {
      margin-bottom: 64px;
    }

    &--data {
      margin-bottom: 64px;
    }
  }

  .advanced-functions__item-title {
    font-size: 15px;
    line-height: 20px;
  }

  .advanced-functions__second {
    margin: 0 auto 80px;
    padding-top: 64px;

    background-image: url("../img/happy-people-2-medium.png");

    @include retina {
      background-image: url("../img/happy-people-2-medium@2x.png");
      background-size: 576px auto;
    }
  }

  .advanced-functions__second-content {
    max-width: 444px;
    min-height: 778px;
    padding: 64px 79px;
    margin-right: 474px;
    margin-left: auto;
  }

  .advanced-functions__third {
    min-height: 804px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;

    &::before,
    &::after {
      top: 118px;

      width: 286px;
      height: 569px;
    }

    &::before {
      left: 5.18%;

      background-image: url("../img/advanced-scenario-medium.png")
    }

    &::after {
      right: 5.18%;

      background-image: url("../img/advanced-schedule-medium.png")
    }

    @include retina {
      &::before {
        background-image: url("../img/advanced-scenario-medium@2x.png");
        background-size: 286px auto;
      }

      &::after {
        background-image: url("../img/advanced-schedule-medium@2x.png");
        background-size: 286px auto;
      }
    }
  }

  .advanced-functions__third-content {
    min-height: 804px;
    margin: 0;
    padding: 80px 165px 20px;

    background-color: #f6f6f6;
  }

  .advanced-functions__fourth {
    padding-top: 64px;

    background-image: url("../img/happy-people-3-medium.png");

    @include retina {
      background-image: url("../img/happy-people-3-medium@2x.png");
      background-size: 576px auto;
    }
  }

  .advanced-functions__fourth-content {
    max-width: 444px;
    min-height: 799px;
    padding: 64px 79px;
    margin-left: 474px;
    margin-right: auto;
  }

  .advanced-functions__fifth-container {
    padding-top: 64px;
    min-height: 564px;
    max-width: 1024px;
    margin: 0 auto;

    background-image: url("../img/mobile-app-l-medium.png");
    background-position: right 53px top 0;

    @include retina {
      background-image: url("../img/mobile-app-l-medium@2x.png");
      background-size: 444px auto;
    }
  }

  .advanced-functions__fifth-content {
    max-width: 523px;
    min-height: 436px;
    padding: 80px 79px;
    margin-left: 53px;
  }

  .advanced-functions__assistants-title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.32px;
  }

  .advanced-functions__fifth-content ul {
    display: flex;
    flex-wrap: wrap;
  }

  .advanced-functions__assistants-item {
    &--homekit {
      margin-right: 16px;
      margin-bottom: 15px;
      order: 1;
    }

    &--google {
      order: 3;
    }

    &--alisa {
      order: 2;
    }
  }
}

@include tablet {
  .advanced-functions__desc {
    max-width: 100%;
  }

  .advanced-functions__first-container {
    min-height: 667px;
    padding: 63px 0 60px 368px;
    max-width: 704px;
    margin: 0 auto;

    background-image: url("../img/advanced-groups-tablet.png");
    background-position: top 0 left 0;
    background-size: 336px auto;

    @include retina {
      background-image: url("../img/advanced-groups-tablet@2x.png");
    }
  }

  .advanced-functions__item {
    padding-top: 85px;
    max-width: 336px;

    background-size: 60px 60px;

    &--status {
      margin-bottom: 50px;
    }

    &--amount {
      margin-bottom: 50px;
    }

    &--location {
      width: 244px;
      margin-bottom: 0;
    }

    &--like {
      width: 244px;
    }

    &--pin {
      width: 244px;
      margin-bottom: 0;
    }

    &--calendar {
      width: 244px;
    }

    &--data {
      width: 244px;
      margin-bottom: 0;
    }

    &--energy {
      width: 244px;
    }
  }

  .advanced-functions__second {
    margin: 0 auto 80px;
    padding-top: 42.3%;

    background-image: url("../img/happy-people-2-tablet.png");
    background-position: top 0 right 50%;
    background-size: 100% auto;

    @include retina {
      background-image: url("../img/happy-people-2-tablet@2x.png");
    }
  }

  .advanced-functions__second-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
    min-height: 416px;
    padding: 64px 92px;
  }

  .advanced-functions__third {
    @include container;

    min-height: 1009px;
    margin-bottom: 80px;

    &::before,
    &::after {
      top: 444px;

      width: 244px;
      height: 485px;
    }

    &::before {
      left: 50%;

      margin-left: -260px;

      background-image: url("../img/advanced-scenario-tablet.png");
      background-size: 244px auto;
    }

    &::after {
      right: 50%;

      margin-right: -260px;

      background-image: url("../img/advanced-schedule-tablet.png");
      background-size: 244px auto;
    }

    @include retina {
      &::before {
        background-image: url("../img/advanced-scenario-tablet@2x.png");
      }

      &::after {
        background-image: url("../img/advanced-schedule-tablet@2x.png");
      }
    }
  }

  .advanced-functions__third-content .advanced-functions__item {
    margin-left: 0;
    margin-right: 0;

    &--pin {
      margin-right: 32px;
    }
  }

  .advanced-functions__third-content {
    display: flex;
    justify-content: center;
    min-height: 1009px;
    margin: 0;
    padding: 80px 50px 80px;
  }

  .advanced-functions__fourth {
    margin: 0 auto 80px;
    padding-top: 42.3%;

    background-image: url("../img/happy-people-3-tablet.png");
    background-position: top 0 right 50%;
    background-size: 100% auto;


    @include retina {
      background-image: url("../img/happy-people-3-tablet@2x.png");
    }
  }

  .advanced-functions__fourth-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
    min-height: 455px;
    padding: 64px 92px;
  }

  .advanced-functions__fifth {
    margin-bottom: 80px;
  }

  .advanced-functions__fifth-container {
    padding-top: 0;
    min-height: auto;

    background-image: none;

    @include retina {
      background-image: none;
    }
  }

  .advanced-functions__fifth-content {
    max-width: none;
    margin: 0;
    min-height: 328px;

    text-align: center;
  }

  .advanced-functions__assistants-title {
    margin-bottom: 50px;
    padding: 0 20px;
  }

  .advanced-functions__fifth-content ul {
    justify-content: center;
  }

  .advanced-functions__assistants-item {
    &--homekit {
      margin-bottom: 0;
      order: 1;
    }

    &--google {
      order: 2;
      margin-right: 15px;
    }

    &--alisa {
      order: 3;
    }
  }
}

@include mobile-l {
  .advanced-functions__title {
    font-size: 24px;
    line-height: 27px;
  }

  .advanced-functions__desc {
    margin-bottom: 50px;
    //padding:

    line-height: 21px;
  }

  .advanced-functions__first {
    margin-bottom: 100px;
  }

  .advanced-functions__first-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 715px 0 0;
    max-width: 600px;

    background-position: top 0 left 50%;
  }

  .advanced-functions__item {
    padding-top: 85px;
    max-width: 192px;

    background-size: 60px 60px;

    &--status {
      margin-right: 32px;
    }

    &--admin {
      max-width: 416px;
    }

    &--location {
      max-width: 416px;
      width: auto;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &--like {
      max-width: 416px;
      width: auto;
      margin: 0 auto;
    }

    &--data {
      max-width: 416px;
      width: auto;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &--energy {
      max-width: 416px;
      width: auto;
      margin: 0 auto;
    }
  }

  .advanced-functions__second-container {
    padding: 0;
  }

  .advanced-functions__second {
    margin-bottom: 50px;
    padding-top: 67.7%;

    background-image: url("../img/happy-people-2-mobile-l.png");

    @include retina {
      background-image: url("../img/happy-people-2-mobile-l@2x.png");
    }
  }

  .advanced-functions__second-content {
    flex-direction: column;

    min-height: 561px;
    padding: 50px 32px;
  }

  .advanced-functions__third {
    padding: 0;
    min-height: 1619px;
    margin-bottom: 50px;

    &::before {
      top: 310px;

      margin-left: -122px;
    }

    &::after {
      top: 1084px;

      margin-right: -122px;
    }
  }

  .advanced-functions__third-content .advanced-functions__item {
    max-width: 416px;
    width: auto;

    &--pin {
      margin-right: 0;
      margin-bottom: 585px;
    }

    &--calendar .advanced-functions__item-title {
      padding: 0 120px;
    }
  }

  .advanced-functions__third-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 1619px;
    padding: 50px 32px 50px;
  }

  .advanced-functions__fourth-container {
    padding: 0;
  }

  .advanced-functions__fourth {
    margin-bottom: 50px;
    padding-top: 67.7%;

    background-image: url("../img/happy-people-3-mobile-l.png");

    @include retina {
      background-image: url("../img/happy-people-3-mobile-l@2x.png");
    }
  }

  .advanced-functions__fourth-content {
    flex-direction: column;

    min-height: 534px;
    padding: 50px 32px;
  }

  .advanced-functions__fifth {
    padding: 0;
  }

  .advanced-functions__fifth-content {
    min-height: 222px;
    padding: 50px 32px;

    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .advanced-functions__assistants-title {
    padding: 0;

    font-size: 24px;
    line-height: 27px;
  }

  .advanced-functions__assistants-item {
    height: 38px;

    &--homekit {
      width: 146px;
      margin-right: 11px;

      background-size: 146px auto;
    }

    &--google {
      width: 144px;
      margin-right: 11px;

      background-size: 144px auto;
    }

    &--alisa {
      width: 102px;

      background-size: 102px auto;
    }
  }
}

@include mobile {
  .advanced-functions {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .advanced-functions__title {
    padding-top: 80px;
    padding-bottom: 25px;
    margin-bottom: 0;

    background-color: #f6f6f6;
  }

  .advanced-functions__desc {
    margin-bottom: 0;

    background-color: #f6f6f6;
  }

  .advanced-functions__item {
    max-width: 288px;

    &--status {
      margin-right: 0;
    }

    // &--admin {
    //   max-width: 416px;
    // }

    &--location {
      margin-bottom: 0;
    }

    &--like {
      margin: 0 auto 50px;
    }

    // &--data {
    //   max-width: 416px;
    //   width: auto;
    //   margin: 0 auto;
    //   margin-bottom: 50px;
    // }

    // &--energy {
    //   max-width: 416px;
    //   width: auto;
    //   margin: 0 auto;
    // }
  }

  .advanced-functions__title {
    order: 1;
  }

  .advanced-functions__desc {
    order: 2;
  }

  .advanced-functions__third {
    order: 3;
  }

  .advanced-functions__first {
    order: 4;
  }

  .advanced-functions__fourth {
    order: 5;
  }

  .advanced-functions__fifth {
    order: 6;
  }

  .advanced-functions__second {
    display: none;
  }

  .advanced-functions__third .advanced-functions__item--location,
  .advanced-functions__third .advanced-functions__item--like {
    display: block;
  }

  .advanced-functions__third {
    width: 100%;
    min-height: auto;

    &::before {
      top: 355px;

      width: 250px;
      height: 497px;
      margin-left: -125px;

      background-image: url("../img/advanced-scenario-mobile.png");
      background-size: 250px auto;
    }

    &::after {
      top: 1445px;

      width: 244px;
      height: 485px;
      margin-right: -122px;

      background-image: url("../img/advanced-schedule-mobile.png");
      background-size: 244px auto;
    }

    @include retina {
      &::before {
        background-image: url("../img/advanced-scenario-mobile@2x.png");
      }

      &::after {
        background-image: url("../img/advanced-schedule-mobile@2x.png");
      }
    }
  }

  .advanced-functions__third-content .advanced-functions__item {
    max-width: 288px;

    &--pin {
      margin-bottom: 596px;
    }

    &--pin .advanced-functions__item-title {
      padding: 0 50px;
    }

    &--calendar {
      margin-bottom: 585px;
    }

    &--calendar .advanced-functions__item-title {
      padding: 0 50px;
    }
  }

  .advanced-functions__third-content {
    min-height: auto;
    padding: 50px 5% 50px;
  }

  .advanced-functions__first {
    margin-bottom: 50px;
  }

  .advanced-functions__first-container {
    min-height: auto;
    padding-top: 546px;

    background-image: url("../img/advanced-groups-mobile.png");
    background-size: 250px auto;

    @include retina {
      background-image: url("../img/advanced-groups-mobile@2x.png");
    }
  }

  .advanced-functions__fourth {
    width: 100%;
    padding-top: 70%;

    background-image: url("../img/happy-people-3-mobile.png");

    @include retina {
      background-image: url("../img/happy-people-3-mobile@2x.png");
    }
  }

  .advanced-functions__fourth-content {
    flex-direction: column;

    min-height: auto;
    padding: 50px 5%;
  }

  .advanced-functions__fifth-content {
    min-height: auto;
    padding: 50px 5%;

    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .advanced-functions__fifth-content ul {
    max-width: 288px;
    margin: 0 auto;
  }

  .advanced-functions__assistants-title {
    margin-bottom: 30px;
  }

  .advanced-functions__assistants-item {
    height: 36px;

    &--homekit {
      width: 138px;
      margin-right: 12px;
      margin-bottom: 25px;

      background-size: 138px auto;
    }

    &--google {
      width: 137px;
      margin-right: 0;

      background-size: 137px auto;
    }

    &--alisa {
      width: 102px;
      height: 38px;

      background-size: 102px auto;
    }
  }
}
