.basic-functions {
  @include container;

  padding-top: 80px;
  padding-bottom: 160px;
}

.basic-functions__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 300;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.basic-functions__desc {
  margin: 0 auto 80px;
  width: 90%;

  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0;
}

.basic-functions__wrapper {
  display: flex;
  justify-content: space-between;
}

.basic-functions__image-box {
  position: relative;

  width: 451px;
  height: 882px;

  background-image: url("../img/basic-functions-1.png");
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/basic-functions-1@2x.png");
    background-size: 451px 882px;
  }
}

.basiс-functions__temperature-image-box {
  @include transition(0.5s);

  position: absolute;
  top: 192px;
  left: 26px;

  width: 334px;
  height: 267px;

  background-image: url("../img/basic-functions-temperature.jpg");
  background-size: 100% auto;

  &.js--big {
    top: 165px;
    left: -5px;

    width: 401px;
    height: 320px;

    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}

.basiс-functions__modes-image-box {
  @include transition(0.5s);

  position: absolute;
  top: 450px;
  left: 26px;

  width: 334px;
  height: 123px;

  background-image: url("../img/basic-functions-modes.jpg");
  background-size: 100% auto;

  &.js--big {
    top: 438px;
    left: -5px;

    width: 401px;
    height: 148px;

    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}

.basiс-functions__flow-image-box {
  @include transition(0.5s);

  position: absolute;
  top: 576px;
  left: 26px;

  width: 334px;
  height: 239px;

  background-image: url("../img/basic-functions-flow.jpg");
  background-size: 100% auto;

  &.js--big {
    top: 552px;
    left: -5px;

    width: 401px;
    height: 287px;

    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}

.basiс-functions__timer-image-box {
  @include transition(0.5s);

  position: absolute;
  top: 820px;
  left: 26px;

  width: 334px;
  height: 88px;

  background-image: url("../img/basic-functions-timer.jpg");
  background-size: 100% auto;

  &.js--big {
    top: 811px;
    left: -5px;

    width: 401px;
    height: 106px;

    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}

.basic-functions__right-side,
.basic-functions__left-side {
  width: 352px;
  padding-top: 105px;
}

.basic-functions__right-side {
  padding-left: 20px;
}

.basic-functions__left-side .basic-functions__item--modes {
  display: none;
}

.basic-functions__right-side .basic-functions__item--flow {
  display: none;
}

.basic-functions__left-side {
  padding-right: 20px;
}

.basic-functions__item {
  position: relative;

  padding-top: 220px;
}

.basic-functions__item-image-box {
  @include transition(0.4s);

  position: absolute;
  top: 80px;
  left: 50%;

  width: 90px;
  height: 90px;
  margin-left: -45px;

  border-radius: 50%;

  &--temperature {
    background-image: url("../img/icon_temperature.svg");
  }

  &--flow {
    background-image: url("../img/icon_airflow.svg");
  }

  &--modes {
    background-image: url("../img/icon_modes.svg");
  }

  &--timer {
    background-image: url("../img/icon_clock.svg");
  }
}

.basic-functions__item:hover .basic-functions__item-image-box {
  background-color: #f5f5f5;
}

.basic-functions__item-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.basic-functions__item-desc {
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

@include desktop-medium {
  .basic-functions__title {
    margin-bottom: 19px;

    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.32px;
  }

  .basic-functions__desc {
    width: 85%;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 23px;
  }

  .basic-functions__image-box {
    width: 306px;
    height: 599px;
    margin-top: 40px;

    background-size: 306px auto;

    background-image: url("../img/basic-functions-1@2x.png");

    // @include retina {
    //   background-image: url("../img/basic-functions-medium@2x.png");
    //   background-size: 286px auto;
    // }
  }

  .basiс-functions__temperature-image-box {
    top: 140px;
    left: 19px;

    width: 249px;
    height: 205px;

    &.js--big {
      top: 120px;
      left: -6px;

      width: 299px;
      height: 246px;
    }
  }

  .basiс-functions__modes-image-box {
    top: 332px;
    left: 19px;

    width: 249px;
    height: 93px;

    &.js--big {
      top: 322px;
      left: -6px;

      width: 299px;
      height: 114px;
    }
  }

  .basiс-functions__flow-image-box {
    top: 426px;
    left: 19px;

    width: 249px;
    height: 179px;

    &.js--big {
      top: 408px;
      left: -6px;

      width: 299px;
      height: 215px;
    }
  }

  .basiс-functions__timer-image-box {
    top: 606px;
    left: 19px;

    width: 249px;
    height: 68px;

    &.js--big {
      top: 599px;
      left: -6px;

      width: 299px;
      height: 82px;
    }
  }

  .basic-functions__right-side,
  .basic-functions__left-side {
    width: 286px;
    padding-top: 12px;
  }

  .basic-functions__right-side {
    padding-left: 0;
  }

  .basic-functions__left-side {
    padding-right: 0;
  }

  .basic-functions__item {
    padding-top: 204px;
  }

  .basic-functions__item-image-box {
    top: 64px;
  }

  .basic-functions__item-title {
    padding: 0 20px;

    font-size: 15px;
    line-height: 20px;
  }
}

@include tablet {
  .basic-functions {
    padding-bottom: 80px;
  }

  .basic-functions__desc {
    max-width: 704px;
    width: auto;
    margin-bottom: 80px;
  }

  .basic-functions__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 986px;
    max-width: 704px;
    margin: 0 auto;
  }

  .basic-functions__image-box {
    width: 341px;
    height: 667px;
    margin-right: auto;
    margin-top: 120px;

    background-size: 341px auto;

    // background-image: url("../img/basic-functions-tablet.png");
    // background-size: 337px auto;
    // order: 1;

    // @include retina {
    //   background-image: url("../img/basic-functions-tablet@2x.png");
    // }
  }

  .basiс-functions__temperature-image-box {
    display: none;
  }

  .basiс-functions__modes-image-box {
    display: none;
  }

  .basiс-functions__flow-image-box {
    display: none;
  }

  .basiс-functions__timer-image-box {
    display: none;
  }

  .basic-functions__right-side,
  .basic-functions__left-side {
    width: 336px;
    padding-top: 0;
    align-self: flex-end;
  }

  .basic-functions__right-side {
    order: 3;
  }

  .basic-functions__left-side {
    order: 2;
  }

  .basic-functions__left-side .basic-functions__item--modes {
    display: block;
  }

  .basic-functions__left-side .basic-functions__item--flow {
    display: none;
  }

  .basic-functions__right-side .basic-functions__item--flow {
    display: block;
  }

  .basic-functions__right-side .basic-functions__item--modes {
    display: none;
  }

  .basic-functions__item {
    padding-top: 85px;
    margin-bottom: 50px;

    &--timer {
      margin-bottom: 0;
    }
  }

  .basic-functions__item-title {
    padding: 0 50px;
  }

  .basic-functions__item--timer .basic-functions__item-title {
    padding: 0 70px;
  }

  .basic-functions__item-image-box {
    top: 0;

    width: 60px;
    height: 60px;
    margin-left: -30px;

    background-size: cover;
  }
}

@include mobile-l {
  .basic-functions__title {
    padding: 0 60px;
    margin-bottom: 25px;

    font-size: 24px;
    line-height: 28px;
  }

  .basic-functions__desc {
    margin-bottom: 50px;
  }

  .basic-functions__wrapper {
    max-height: 2000px;
  }

  .basic-functions__image-box {
    margin: 0 auto 50px;
  }

  .basic-functions__right-side,
  .basic-functions__left-side {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .basic-functions__right-side {
    order: 3;
  }

  .basic-functions__left-side {
    order: 1;
    margin-bottom: 50px;
  }

  .basic-functions__item {
    width: 192px;
    margin-bottom: 0;

    &--temperature {
      margin-right: 32px;
    }

    &--temperature .basic-functions__item-title span {
      display: none;
    }

    &--flow {
      margin-right: 32px;
    }
  }

  .basic-functions__item-title {
    padding: 0;
  }

  .basic-functions__item--timer .basic-functions__item-title {
    padding: 0;
  }
}

@include mobile {
  .basic-functions {
    padding-bottom: 50px;
  }

  .basic-functions__title {
    padding: 0;
  }

  .basic-functions__right-side,
  .basic-functions__left-side {
    flex-direction: column;
  }

  .basic-functions__item {
    width: 288px;
    margin: 0 auto;

    &--temperature {
      margin-bottom: 50px;
    }

    &--temperature .basic-functions__item-title span {
      display: inline;
    }

    &--flow {
      margin-bottom: 50px;
    }
  }

  .basic-functions__item-title {
    padding: 0 20px;
  }

  .basic-functions__item--timer .basic-functions__item-title {
    padding: 0 40px;
  }

  .basic-functions__image-box {
    width: 250px;
    height: 615px;
    margin: 0 auto 50px;

    background-image: url("../img/basic-functions-mobile.png");
    background-size: 250px auto;

    @include retina {
      background-image: url("../img/basic-functions-mobile@2x.png");
    }
  }
}
