.central-control {
  @include container;

  min-height: 850px;
  padding-left: 773px;
  padding-top: 229px;

  background-image: url("../img/mobile-app.png");
  background-repeat: no-repeat;
  background-position: top 120px left 53px;

  @include retina {
    background-image: url("../img/mobile-app@2x.png");
    background-size: 600px 650px;
  }
}

.central-control__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 42px;
  line-height: 46px;
}

.central-control__desc {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.63px;
}

.central-control__google-pay-link,
.central-control__app-store-link {
  @include transition;

  display: inline-block;
  width: 203px;
  height: 60px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.central-control__google-pay-link {
  margin-right: 12px;

  background-image: url("../img/icon_googlepay_grey.svg");
}

.central-control__app-store-link {
  background-image: url("../img/icon_appstore_grey.svg");
}

@include desktop-medium {
  .central-control {
    min-height: 628px;
    padding-left: calc(474px + 5.18%);
    padding-top: 126px;

    background-image: url("../img/mobile-app-medium.png");
    background-position: top 120px left 8.4%;

    @include retina {
      background-image: url("../img/mobile-app-medium@2x.png");
      background-size: 395px auto;
    }
  }

  .central-control__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.32px;
  }

  .central-control__desc {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .central-control__google-pay-link,
  .central-control__app-store-link {
    width: 162px;
    height: 48px;

    background-size: cover;
  }
}

@include tablet {
  .central-control {
    position: relative;

    text-align: center;

    min-height: 838px;
    padding-top: 80px;
    padding-left: 4.17%;

    background-image: url("../img/mobile-app-tablet.png");
    background-position: top calc(50% + 204px) left 50%;
    background-size: contain;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 408px;

      background-color: #ffffff;
    }

    @include retina {
      background-image: url("../img/mobile-app-tablet@2x.png");
    }
  }

  .central-control__title {
    position: relative;
    z-index: 10;
  }

  .central-control__desc {
    position: relative;
    z-index: 10;
  }

  .central-control__google-pay-link,
  .central-control__app-store-link {
    position: relative;
    z-index: 10;
  }
}

@include mobile-l {
  .central-control__title {
    font-size: 24px;
    line-height: 28px;
  }

  .central-control__desc {
    min-height: 154px;
  }

  .central-control {
    min-height: 892px;

    &::before {
      height: 492px;
    }

    background-image: url("../img/mobile-app-mobile-l.png");
    background-position: top calc(50% + 246px) left 50%;

    @include retina {
      background-image: url("../img/mobile-app-mobile-l@2x.png");
    }
  }
}

@include mobile {
  .central-control {
    padding-left: 5%;
    min-height: 930px;

    &::before {
      height: 630px;
    }

    background-image: url("../img/mobile-app-mobile.png");
    background-position: top calc(50% + 315px) left 50%;

    @include retina {
      background-image: url("../img/mobile-app-mobile@2x.png");
    }
  }

  .central-control__title {
    margin-bottom: 25px;
    min-height: 114px;
  }

  .central-control__desc {
    min-height: 200px;
  }

  .central-control__google-pay-link,
  .central-control__app-store-link {
    display: block;
    margin: 0 auto;
  }

  .central-control__google-pay-link {
    margin-bottom: 15px;
  }
}
