.central-control {
  padding-top: 100px;
  padding-bottom: 80px;

  &__title {
    @include title-font;

    margin: 0 auto 80px;
    max-width: 1170px;

    text-align: center;
  }

  &__all-in-one {
    @include container;

    min-height: 584px;
    padding-top: 157px;
    margin-bottom: 50px;

    background-position: right 53px center;
    background-repeat: no-repeat;
    background-image: url("../img/all-in-one@2x.png");
    background-size: 600px auto;
  }

  &__assistant {
    @include container;

    min-height: 630px;
    padding-top: 195px;
    margin-bottom: 80px;

    background-position: left 53px center;
    background-repeat: no-repeat;
    background-image: url("../img/assistant@2x.png");
    background-size: 660px auto;
  }

  &__intelligent {
    @include container;

    min-height: 600px;
    padding-top: 80px;

    background-position: right 53px center;
    background-repeat: no-repeat;
    background-image: url("../img/intelligent@2x.png");
    background-size: 613px auto;
  }
}

.central-control__distance {
  @include container;

  min-height: 650px;
  padding-left: 773px;
  padding-top: 80px;
  margin-bottom: 80px;

  background-image: url("../img/mobile-app.png");
  background-repeat: no-repeat;
  background-position: top left 53px;

  @include retina {
    background-image: url("../img/mobile-app@2x.png");
    background-size: 600px 650px;
  }
}

.central-control__sub-title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 690px;

  font-weight: 300;
  font-size: 40px;
  line-height: 48px;

  &--assistant {
    margin-left: auto;

    @media (max-width: 1500px) {
      max-width: 650px;
    }
  }
}

.central-control__desc {
  margin: 0;
  margin-bottom: 50px;
  max-width: 690px;

  font-weight: 300;
  font-size: 18px;
  line-height: 27px;

  &--assistant {
    margin-left: auto;

    @media (max-width: 1500px) {
      max-width: 650px;
    }
  }
}

.central-control__google-pay-link,
.central-control__app-store-link {
  @include transition;

  display: inline-block;
  width: 203px;
  height: 60px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.central-control__google-pay-link {
  margin-right: 12px;

  background-image: url("../img/icon_googlepay_grey.svg");
}

.central-control__app-store-link {
  background-image: url("../img/icon_appstore_grey.svg");
}

@include desktop-medium {
  .central-control {
    &__title {
      max-width: 750px;
      margin-bottom: 80px;
    }

    &__all-in-one {
      max-width: 1024px;
      min-height: 432px;
      padding-left: 53px;
      padding-right: 53px;
      padding-top: 90px;

      background-size: 444px auto;
    }

    &__assistant {
      max-width: 1024px;
      min-height: 456px;
      padding-left: 53px;
      padding-right: 53px;
      padding-top: 114px;

      background-size: 456px auto;
      background-position: left 40px center;
    }

    &__intelligent {
      max-width: 1024px;
      min-height: 436px;
      padding-left: 53px;
      padding-right: 53px;
      padding-top: 0;

      background-size: 444px auto;
    }
  }

  .central-control__distance {
    min-height: 516px;
    max-width: 1024px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 53px;

    background-image: url("../img/mobile-app-medium.png");
    background-position: left 53px top;

    @include retina {
      background-image: url("../img/mobile-app-medium@2x.png");
      background-size: 442px auto;
    }
  }

  .central-control__sub-title {
    max-width: 444px;
    margin-left: auto;

    font-size: 32px;
    line-height: 35px;

    &--all-in-one,
    &--intelligent {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .central-control__desc {
    max-width: 444px;
    margin-left: auto;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;

    &--all-in-one,
    &--intelligent {
      margin-left: 0;
      margin-right: auto;
    }

    &--intelligent {
      margin-bottom: 0;
    }
  }

  .central-control__google-pay-link,
  .central-control__app-store-link {
    width: 162px;
    height: 48px;

    background-size: cover;
  }
}

@include tablet {
  .central-control {
    &__title {
      margin-bottom: 50px;
    }

    &__all-in-one {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 482px;
      margin-bottom: 80px;

      background-position: top center;
    }

    &__assistant {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 506px;
      margin-bottom: 80px;

      background-position: top center;
    }

    &__intelligent {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 486px;

      background-position: top center;
    }
  }

  .central-control__distance {
    position: relative;

    text-align: center;

    min-height: auto;
    padding-top: 0;
    padding-right: 0;

    background-image: none;

    // &::before {
    //   content: "";

    //   position: absolute;
    //   top: 39%;
    //   left: 0;

    //   width: 100%;
    //   height: 408px;

    //   background-color: #ffffff;
    // }

    // @include retina {
    //   background-image: url("../img/mobile-app-tablet@2x.png");
    // }
  }

  .central-control__image-box {
    width: 100%;
    padding-top: 39%;
    margin-bottom: 50px;

    background-image: url("../img/mobile-app-tablet@2x.png");
    background-size: 100% auto;
    background-position: top -50px center;
  }

  .central-control__sub-title {
    position: relative;
    z-index: 10;

    max-width: 704px;
    margin: 0 auto 50px;

    &--all-in-one {
      max-width: 550px;
      margin-bottom: 15px;

      text-align: center;
    }

    &--assistant {
      text-align: center;
    }

    &--intelligent {
      text-align: center;
    }
  }

  .central-control__desc {
    position: relative;
    z-index: 10;

    max-width: 704px;
    margin: 0 auto;

    &--all-in-one {
      text-align: center;
    }

    &--assistant {
      text-align: center;
    }

    &--intelligent {
      text-align: center;
    }
  }

  .central-control__google-pay-link,
  .central-control__app-store-link {
    position: relative;
    z-index: 10;
  }
}

@include mobile-l {
  .central-control {
    padding-top: 80px;

    &__title {
      max-width: 425px;
    }

    &__image-box {
      padding-top: 63%;

      background-image: url("../img/mobile-app-mobile-l@2x.png");
      background-position: top -40px center;
      background-size: 100% auto;
    }

    &__all-in-one {
      margin-bottom: 75px;
    }

    &__assistant {
      margin-bottom: 75px;
    }
  }

  .central-control__sub-title {
    max-width: 416px;
    margin-bottom: 25px;

    font-size: 24px;
    line-height: 27px;
  }

  .central-control__desc {
    max-width: 416px;
  }

  .central-control__distance {
    margin-bottom: 75px;
  }
}

@include mobile {
  .central-control {
    &__title {
      max-width: 85%;
    }

    &__image-box {
      padding-top: 94%;

      background-image: url("../img/mobile-app-mobile@2x.png");
      background-position: top center;
    }

    &__all-in-one {
      padding-top: calc(88% + 50px);
      padding-left: 0;
      padding-right: 0;

      background-size: 90% auto;
    }

    &__assistant {
      padding-top: calc(90% + 50px);
      padding-left: 0;
      padding-right: 0;

      background-size: 90% auto;
    }

    &__intelligent {
      padding-top: calc(88% + 50px);
      padding-left: 0;
      padding-right: 0;

      background-size: 90% auto;
    }
  }

  .central-control__sub-title {
    max-width: 90%;
  }

  .central-control__desc {
    max-width: 90%;
  }

  .central-control__google-pay-link,
  .central-control__app-store-link {
    display: block;
    margin: 0 auto;

    border: none;
  }

  .central-control__google-pay-link {
    margin-bottom: 15px;
  }
}
