.climat-online-order {
  margin-bottom: 160px;

  &__container {
    @include container;

    min-height: 750px;
    padding-top: 182px;

    background: url("../img/daichi-climat-online-scale.png") top left 53px no-repeat;
    background-size: 690px auto;
  }

  &__content {
    width: 810px;
    min-height: 387px;
    margin-left: auto;
    padding: 100px 120px 90px;

    background: linear-gradient(180deg, #e7ecec, #e3eaea);
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 300;
    font-size: 42px;
    line-height: 46px;
  }

  &__link {
    width: 215px;
  }
}
