.dcm-adapter {
  background: linear-gradient(109deg, #0a202f, #14415e);
}

.dcm-adapter__container {
  @include container;

  padding-top: 80px;
  padding-bottom: 380px;

  background-image: url("../img/dcm-big.png");
  background-repeat: no-repeat;
  background-position: bottom 40px center;

  @include retina {
    background-image: url("../img/dcm-big@2x.png");
    background-size: 570px auto;
  }
}

.dcm-adapter__title {
  @include title-font;

  margin-bottom: 15px;

  color: #ffffff;
  text-align: center;
}

.dcm-adapter__desc {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 300;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
}

.dcm-adapter__link {
  width: 215px;
  margin: 0 auto;
}

@include desktop-medium {
  .dcm-adapter__container {
    padding-top: 50px;
    padding-bottom: 250px;

    background-size: 286px auto;
    background-position: bottom 25px center;
  }

  .dcm-adapter__desc {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 27px;
  }
}

@include tablet {
  .dcm-adapter__title {
    margin-bottom: 10px;
  }
}

@include mobile-l {
  .dcm-adapter__container {
    padding-bottom: 265px;
  }

  .dcm-adapter__desc {
    font-size: 18px;
    line-height: 20px;
  }
}

@include mobile {
  .dcm-adapter__container {
    padding-bottom: 236px;

    background-position: bottom 13px center;
  }
}
