.engineering-center {
  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 160px;
  }

  &__left {
    position: relative;

    align-self: flex-start;
    width: 570px;
    min-width: 570px;
    min-height: 700px;
    padding-top: 123px;
    padding-left: 46px;
    margin-right: 60px;

    background:
      url("../img/icon_daichi-color.svg") top 50px left 200px no-repeat,
      linear-gradient(180deg, #e7ecec, #e3eaea);

    background-size: 200px 36px;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 50%;

      width: 627px;
      height: 459px;
      margin-left: -313px;

      background: url("../img/stuff.png") top left/627px auto no-repeat;

      @include retina {
        background: url("../img/stuff@2x.png") top left/627px auto no-repeat;
      }
    }
  }

  &__title {
    margin: 0 auto;

    font-weight: 300;
    font-size: 42px;
    line-height: 46px;
    text-align: center;
  }

  &__right {
    width: 690px;
  }

  &__desc {
    @include desc-font;

    line-height: 27px;
    letter-spacing: 0.63px;
  }

  &__desc:first-of-type {
    margin-bottom: 50px;
  }

  &__monitoring-title {
    margin: 0;
    margin-bottom: 30px;

    font-weight: 300;
    font-size: 42px;
    line-height: 46px;
  }
}

@include desktop-medium {
  .engineering-center {
    max-width: 1024px;
    margin: 0 auto;

    &__left {
      width: 365px;
      min-width: 365px;
      min-height: 646px;
      padding-top: 123px;
      padding-left: 46px;
      margin-right: 60px;

      background: url("../img/service-common@2x.png") top 0 left 0/395px auto no-repeat;

      &::before {
        display: none;
      }
    }

    &__title {
      display: none;
    }

    &__right {
      width: 442px;
    }

    &__monitoring-title {
      font-size: 32px;
      line-height: 35px;
    }

    &__desc {
      line-height: 22px;
    }

    &__desc:first-of-type {
      margin-bottom: 25px;
    }
  }
}

@include tablet {
  .engineering-center {
    position: relative;

    max-width: 768px;

    &__left {
      position: absolute;
      top: 120px;
      left: 32px;

      width: 335px;
      min-width: 335px;
      min-height: 377px;
      padding: 0;
      margin: 0;

      background: url("../img/service-common-tablet@2x.png") top 0 left 0/335px auto no-repeat;
    }

    &__right {
      width: 100%;
    }

    &__monitoring-title {
      margin-bottom: 25px;

      text-align: center;
    }

    &__desc {
      line-height: 22px;
    }

    &__desc:first-of-type {
      min-height: 377px;
      padding: 112px 0 90px 368px;
      margin-bottom: 80px;
    }

    &__desc:last-of-type {
      text-align: center;
    }
  }
}

@include mobile-l {
  .engineering-center__container {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .engineering-center {
    &__left {
      position: static;

      width: 416px;
      min-width: 416px;
      min-height: 468px;
      margin: 0 auto;

      background: url("../img/service-common-tablet@2x.png") top 0 center/416px auto no-repeat;
    }

    &__right {
      width: 100%;
    }

    &__monitoring-title {
      font-size: 24px;
      line-height: 27px;
    }

    &__desc:first-of-type {
      min-height: auto;
      padding: 0;
      padding-top: 50px;
      margin-bottom: 50px;

      text-align: center;
    }
  }
}

@include mobile {
  .engineering-center__container {
    padding-top: 50px;
  }

  .engineering-center {
    &__left {
      position: static;

      width: 288px;
      min-width: 288px;
      min-height: 324px;

      background: url("../img/service-common-tablet@2x.png") top 0 center/288px auto no-repeat;
    }
  }
}
