.parallax {
  width: 100%;
  height: 500px;

  background-image: url("../img/happy-people.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: top 0 left 50%;

  @include retina {
    background-image: url("../img/happy-people@2x.jpg");
  }
}

@include desktop-medium {
  .parallax {
    height: 300px;
    background-size: 100vw auto;
  }
}

@include tablet {
  .parallax {
    height: 300px;

    background-attachment: scroll;
    background-position: top calc(50% - 60px) center;

    @include retina {
      background-image: url("../img/happy-people.jpg");
    }
  }
}

@include mobile-l {
  .parallax {
    background-position: center;
    background-size: cover;
  }
}
