.promo-climat-online {
  position: relative;

  min-height: 800px;
  height: 100vh;

  background-image: url("../img/daichi-climat-online-big.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1920px auto;

  @include retina {
    background-image: url("../img/daichi-climat-online-big@2x.png");
  }

  &__title {
    @include title-font;

    width: 450px;
    margin-bottom: 50px;
  }

  &__desc {
    @include desc-font;

    width: 690px;
    margin-bottom: 50px;
  }

  &__link {
    width: 215px;
  }

  &__scroll-down {
    position: absolute;
    bottom: 25px;
    left: 50%;

    display: block;
    width: 25px;
    height: 42px;
    margin-left: -12px;

    background-image: url("../img/icon_down_white.svg");
    background-repeat: no-repeat;
    background-position: top 14px left 0;

    &::before,
    &::after {
      @include transition(0.5s);

      content: "";

      position: absolute;
      left: 0;

      width: 25px;
      height: 14px;

      background-image: url("../img/icon_down_white.svg");
      background-repeat: no-repeat;
      opacity: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }
}

.promo-climat-online__container {
  @include container;

  padding-top: 410px;
}

@include desktop-medium {
  .promo-climat-online__container {
    padding-top: 255px;
    padding-bottom: 188px;
  }

  .promo-climat-online {
    min-height: auto;
    height: auto;

    background-size: cover;
    background-position: top center;

    &__title {
      width: 48.4%;

      font-size: 42px;
      line-height: 46px;
    }

    &__desc {
      width: 48.4%;
    }
  }
}

@include tablet {
  .promo-climat-online {
    background:
      linear-gradient(180deg, #f6f5fb 0, #f6f5fb 300px, transparent 360px),
      url("../img/daichi-climat-online-big.png") bottom left calc(50% - 50px)/1200px auto no-repeat;

    @include retina {
      background:
      linear-gradient(180deg, #f6f5fb 0, #f6f5fb 300px, transparent 360px),
      url("../img/daichi-climat-online-big@2x.png") bottom left calc(50% - 50px)/1200px auto no-repeat;
    }

    &__title {
      margin: 0 auto 25px;

      text-align: center;
    }

    &__desc {
      width: 704px;
      margin: 0 auto 495px;

      text-align: center;
    }

    &__link {
      margin: 0 auto;
    }
  }

  .promo-climat-online__container {
    padding-top: 80px;
    padding-bottom: 180px;
  }
}

@include mobile-l {
  .promo-climat-online {
    background:
      linear-gradient(180deg, #f6f5fb 0, #f6f5fb 240px, transparent 330px),
      url("../img/daichi-climat-online-big.png") bottom left calc(50% - 50px)/880px auto no-repeat;

    @include retina {
      background:
      linear-gradient(180deg, #f6f5fb 0, #f6f5fb 240px, transparent 330px),
      url("../img/daichi-climat-online-big@2x.png") bottom left calc(50% - 50px)/880px auto no-repeat;
    }

    &__title {
      width: 70%;

      font-size: 24px;
      line-height: 28px;
    }

    &__desc {
      width: 100%;
      margin: 0 auto 340px;
    }
  }

  .promo-climat-online__container {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}
