.promo-split {
  position: relative;

  min-height: 890px;
  height: 100vh;
  max-height: 1200px;

  background: linear-gradient(119deg, #8aabc0, #485964);
}

.promo-split__container {
  @include container;

  display: flex;
  justify-content: space-between;
}

.promo-split__left {
  width: 50%;
  padding-top: 323px;
  padding-bottom: 100px;
}

.promo-split__title {
  @include title-font;

  margin-bottom: 50px;

  color: #ffffff;
}

.promo-split__desc {
  @include desc-font;

  margin-bottom: 50px;

  color: #ffffff;
}

.promo-split__link {
  width: 215px;
}

.promo-split__right {
  width: 570px;
  padding-top: 198px;
  padding-bottom: 100px;

  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: top 200px right -30px;
  background-size: 390px auto;

  @include retina {
    background-image: url("../img/phone@2x.png");
  }
}

.promo-split__adapter,
.promo-split__app {
  width: 210px;
}

.promo-split__adapter {
  margin-bottom: 50px;
}

.promo-split__app {
  margin-bottom: 60px;
}

.promo-split__adapter p,
.promo-split__app p {
  @include desc-font;

  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.promo-split__app p {
  padding: 0 20px;
}

.promo-split__adapter-img-box {
  width: 210px;
  height: 150px;

  background-image: url("../img/d-adapter-big.png");
  background-size: 210px auto;
}

.promo-split__adapter-img-box {
  width: 210px;
  height: 150px;

  background-image: url("../img/d-adapter-big.png");
  background-size: 210px auto;
}

.promo-split__app-img-box {
  width: 210px;
  height: 125px;

  background-image: url("../img/icon_d-house.svg");
  background-size: 160px 160px;
  background-repeat: no-repeat;
  background-position: top -28px center;
}

.promo-split__google-pay-link,
.promo-split__app-store-link {
  @include transition;

  display: block;
  width: 162px;
  height: 48px;
  margin-left: 24px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.promo-split__google-pay-link {
  background-image: url("../img/icon_googlepay_white.svg");
}

.promo-split__app-store-link {
  margin-bottom: 15px;
  background-image: url("../img/icon_appstore_white.svg");
}

.promo-split__scroll-down {
  position: absolute;
  bottom: 25px;
  left: 50%;

  display: block;
  width: 25px;
  height: 42px;
  margin-left: -12px;

  background-image: url("../img/icon_down_white.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 0;

  &::before,
  &::after {
    @include transition(0.5s);

    content: "";

    position: absolute;
    left: 0;

    width: 25px;
    height: 14px;

    background-image: url("../img/icon_down_white.svg");
    background-repeat: no-repeat;
    opacity: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

@include desktop-medium {
  .promo-split__container {
    max-width: calc(1000px + 10.36%);
  }

  .promo-split {
    min-height: 768px;
    height: auto;
  }

  .promo-split__left {
    width: 48.4%;
    padding-top: 246px;
  }

  .promo-split__title {
    font-size: 42px;
    line-height: 46px;
  }

  .promo-split__desc {
    margin: 0;
  }

  .promo-split__link {
    display: none;
  }

  .promo-split__right {
    width: 365px;
    padding-top: 583px;
    padding-bottom: 100px;
    align-self: flex-start;

    background-image: url("../img/split-control-promo@2x.png");
    background-size: auto 357px;
    background-position: top 200px right 0;
  }

  .promo-split__adapter,
  .promo-split__app {
    display: none;
  }

  .promo-split__app-store-link,
  .promo-split__google-pay-link {
    display: inline-block;
    margin: 0;
  }

  .promo-split__app-store-link {
    display: inline-block;
    margin-left: 13px;
    margin-right: 12px;
  }
}

@include tablet {
  .promo-split__container {
    flex-direction: column;
  }

  .promo-split__left {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 0;
  }

  .promo-split__title {
    margin-bottom: 25px;

    text-align: center;
  }

  .promo-split__desc {
    text-align: center;
  }

  .promo-split__right {
    width: 100%;
    padding-top: 447px;
    padding-bottom: 142px;

    text-align: center;

    background-position: top 65px left 50%;
  }

  .promo-split__app-store-link {
    margin-left: 0;
  }
}

@include mobile-l {
  .promo-split {
    min-height: 735px;
  }

  .promo-split__left {
    padding-top: 60px;
  }

  .promo-split__title {
    font-size: 24px;
    line-height: 28px;
  }

  .promo-split__right {
    padding-top: 361px;
    padding-bottom: 94px;

    background-size: 312px auto;
    background-position: top 48px center;
  }
}

@include mobile {
  .promo-split {
    min-height: 810px;
  }

  .promo-split__right {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 316px;
    padding-bottom: 82px;

    background-size: auto 266px;
    background-position: top 25px center;
  }

  .promo-split__app-store-link {
    margin: 0;
  }

  .promo-split__google-pay-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}



