.promo-vrf {
  position: relative;

  min-height: 880px;
  height: 100vh;

  background: linear-gradient(90deg, #0a202f, #14415e);
}

.promo-vrf__container {
  @include container;

  display: flex;
  justify-content: space-between;
}

.promo-vrf__left {
  width: 50%;
  padding-top: 283px;
  padding-bottom: 50px;
}

.promo-vrf__title {
  @include title-font;

  margin-bottom: 50px;

  color: #ffffff;
}

.promo-vrf__desc {
  @include desc-font;

  margin-bottom: 50px;

  color: #ffffff;
}

.promo-vrf__link {
  width: 215px;
}

.promo-vrf__right {
  width: 570px;
  padding-top: 173px;
  padding-bottom: 50px;
}

.promo-vrf__adapter {
  margin-bottom: 20px;
}

.promo-vrf__adapter-img-box {
  width: 570px;
  height: 350px;
  margin-bottom: 25px;

  background-image: url("../img/dcm-big.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 350px;
}

.promo-vrf__adapter p {
  margin: 0;

  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.63px;
  color: #ffffff;
  text-align: center;
}

.promo-vrf__app {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 85px;
}

.promo-vrf__app-img-box {
  width: 160px;
  height: 160px;

  background-image: url("../img/icon_d-cube.svg");
}

.promo-vrf__app p {
  width: 190px;
  margin: 0;

  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.63px;
  color: #ffffff;
}

.promo-vrf__google-pay-link,
.promo-vrf__app-store-link {
  @include transition;

  display: inline-block;
  width: 162px;
  height: 48px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.promo-vrf__google-pay-link {
  background-image: url("../img/icon_googlepay_white.svg");
}

.promo-vrf__app-store-link {
  margin-right: 12px;
  margin-left: 115px;
  background-image: url("../img/icon_appstore_white.svg");
}

.promo-vrf__scroll-down {
  position: absolute;
  bottom: 25px;
  left: 50%;

  display: block;
  width: 25px;
  height: 42px;
  margin-left: -12px;

  background-image: url("../img/icon_down_white.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 0;

  &::before,
  &::after {
    @include transition(0.5s);

    content: "";

    position: absolute;
    left: 0;

    width: 25px;
    height: 14px;

    background-image: url("../img/icon_down_white.svg");
    background-repeat: no-repeat;
    opacity: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

