.promo {
  background: linear-gradient(180deg, #7FB0F8, #D5D3FF);
}

.promo__container {
  @include container;

  position: relative;

  padding-top: 300px;
  min-height: 950px;
  height: 100vh;
  max-height: 1200px;

  background-image: url("../img/app-showcase-icon.png");
  background-repeat: no-repeat;
  background-position: top 100px right 53px;

  @include retina {
    background-image: url("../img/app-showcase-icon@2x.png");
    background-size: 690px 813px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 50%;

  font-weight: 300;
  font-size: 48px;
  line-height: 53px;
}

.promo__description {
  margin: 0;
  margin-bottom: 50px;
  max-width: 49%;

  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.promo__google-pay-link,
.promo__app-store-link {
  @include transition;

  display: inline-block;
  width: 162px;
  height: 48px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.promo__google-pay-link {
  margin-right: 12px;

  background-image: url("../img/icon_googlepay_white.svg");
  border: none;
}

.promo__app-store-link {
  background-image: url("../img/icon_appstore_white.svg");
  border: none;
}

.promo__scroll-down {
  position: absolute;
  bottom: 25px;
  left: 50%;

  display: block;
  width: 25px;
  height: 42px;
  margin-left: -12px;

  background-image: url("../img/icon_down_white.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 0;
  border: none;

  &::before,
  &::after {
    @include transition(0.5s);

    content: "";

    position: absolute;
    left: 0;

    width: 25px;
    height: 14px;

    background-image: url("../img/icon_down_white.svg");
    background-repeat: no-repeat;
    opacity: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

@include desktop-medium {
  .promo__container {
    min-height: 768px;
    padding-top: 213px;
    height: auto;

    background-image: url("../img/app-showcase-icon-medium.png");
    background-position: top 155px right 53px;
    background-size: 444px auto;

    @include retina {
      background-image: url("../img/app-showcase-icon-medium@2x.png");
    }
  }

  .promo__title {
    max-width: 43%;

    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0px;
  }

  .promo__description {
    max-width: 44%;

    font-size: 15px;
    letter-spacing: 0px;
  }
}

@include tablet {
  .promo__container {
    padding-top: 120px;
    min-height: 960px;

    text-align: center;

    background-image: url("../img/app-showcase-icon-tablet.png");
    background-position: top 337px left calc(50% - 27px);
    background-size: 390px auto;

    @include retina {
      background-image: url("../img/app-showcase-icon-tablet@2x.png");
    }
  }

  .promo__title {
    max-width: 670px;
    margin: 0 auto 25px;

    text-align: center;
  }

  .promo__description {
    max-width: 704px;
    margin: 0 auto 534px;

    text-align: center;
  }
}

@include mobile-l {
  .promo__container {
    padding-top: 60px;
    min-height: 735px;

    background-image: url("../img/app-showcase-icon-mobile-l.png");
    background-position: top 203px left calc(50% - 20px);
    background-size: 316px auto;

    @include retina {
      background-image: url("../img/app-showcase-icon-mobile-l@2x.png");
    }
  }

  .promo__title {
    max-width: 90%;

    font-size: 24px;
    line-height: 28px;
  }

  .promo__description {
    min-height: 62px;
    margin: 0 auto 373px;

    line-height: 21px;
  }
}

@include mobile {
  .promo__container {
    min-height: auto;
    padding-bottom: 93px;

    background-image: url("../img/app-showcase-icon-mobile.png");
    background-position: bottom 199px left calc(50% - 15px);
    background-size: 258px auto;

    @include retina {
      background-image: url("../img/app-showcase-icon-mobile@2x.png");
    }
  }

  .promo__title {
    max-width: 100%;
  }

  .promo__description {
    margin-bottom: 305px;
  }

  .promo__google-pay-link,
  .promo__app-store-link {
    display: block;
    margin: 0 auto;
  }

  .promo__google-pay-link {
    margin-bottom: 10px;
  }
}
