.promo-vrf {
  position: relative;

  min-height: 880px;
  height: 100vh;

  background: linear-gradient(90deg, #0a202f, #14415e);
}

.promo-vrf__container {
  @include container;

  display: flex;
  justify-content: space-between;
}

.promo-vrf__left {
  width: 50%;
  padding-top: 283px;
  padding-bottom: 50px;
}

.promo-vrf__title {
  @include title-font;

  margin-bottom: 50px;

  color: #ffffff;
}

.promo-vrf__desc {
  @include desc-font;

  margin-bottom: 50px;

  color: #ffffff;
}

.promo-vrf__link {
  width: 215px;
}

.promo-vrf__right {
  width: 570px;
  padding-top: 173px;
  padding-bottom: 50px;
}

.promo-vrf__adapter {
  margin-bottom: 20px;
}

.promo-vrf__adapter-img-box {
  width: 570px;
  height: 350px;
  margin-bottom: 25px;

  background-image: url("../img/dcm-big.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 350px;
}

.promo-vrf__adapter p {
  margin: 0;

  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.63px;
  color: #ffffff;
  text-align: center;
}

.promo-vrf__app {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 85px;
}

.promo-vrf__app-img-box {
  width: 160px;
  height: 160px;

  background-image: url("../img/icon_d-cube.svg");
}

.promo-vrf__app p {
  width: 190px;
  margin: 0;

  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.63px;
  color: #ffffff;
}

.promo-vrf__google-pay-link,
.promo-vrf__app-store-link {
  @include transition;

  display: inline-block;
  width: 162px;
  height: 48px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.promo-vrf__google-pay-link {
  background-image: url("../img/icon_googlepay_white.svg");
}

.promo-vrf__app-store-link {
  margin-right: 12px;
  margin-left: 115px;
  background-image: url("../img/icon_appstore_white.svg");
}

.promo-vrf__scroll-down {
  position: absolute;
  bottom: 25px;
  left: 50%;

  display: block;
  width: 25px;
  height: 42px;
  margin-left: -12px;

  background-image: url("../img/icon_down_white.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 0;

  &::before,
  &::after {
    @include transition(0.5s);

    content: "";

    position: absolute;
    left: 0;

    width: 25px;
    height: 14px;

    background-image: url("../img/icon_down_white.svg");
    background-repeat: no-repeat;
    opacity: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

@include desktop-medium {
  .promo-vrf__container {
    max-width: calc(1000px + 10.36%);
  }

  .promo-vrf {
    min-height: 768px;
    height: auto;
  }

  .promo-vrf__left {
    width: 48.4%;
    padding-top: 212px;
  }

  .promo-vrf__title {
    font-size: 42px;
    line-height: 46px;
  }

  .promo-vrf__desc {
    margin: 0;
  }

  .promo-vrf__link {
    display: none;
  }

  .promo-vrf__right {
    width: 365px;
    padding-top: 600px;
    padding-bottom: 117px;
    align-self: flex-start;

    background-image: url("../img/vrf-control-promo@2x.png");
    background-repeat: no-repeat;
    background-size: 365px auto;
    background-position: top 186px center;
  }

  .promo-vrf__adapter,
  .promo-vrf__app {
    display: none;
  }

  .promo-vrf__app-store-link,
  .promo-vrf__google-pay-link {
    display: inline-block;
    margin: 0;
  }

  .promo-vrf__app-store-link {
    margin-left: 13px;
    margin-right: 12px;
  }
}

@include tablet {
  .promo-vrf {
    min-height: 960px;
  }

  .promo-vrf__container {
    flex-direction: column;
  }

  .promo-vrf__left {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 0;
  }

  .promo-vrf__title {
    margin-bottom: 25px;

    text-align: center;
  }

  .promo-vrf__desc {
    text-align: center;
  }

  .promo-vrf__right {
    width: 100%;
    padding-top: 447px;
    padding-bottom: 142px;

    text-align: center;

    background-position: top 34px left 50%;
  }

  .promo-vrf__app-store-link {
    margin-left: 0;
  }
}

@include mobile-l {
  .promo-vrf {
    min-height: 735px;
  }

  .promo-vrf__left {
    padding-top: 60px;
  }

  .promo-vrf__title {
    font-size: 24px;
    line-height: 28px;
  }

  .promo-vrf__right {
    padding-top: 338px;
    padding-bottom: 94px;

    background-size: 260px auto;
    background-position: top 25px center;
  }
}

@include mobile {
  .promo-vrf {
    min-height: auto;
  }

  .promo-vrf__right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 298px;
    padding-bottom: 106px;

    background-size: 219px auto;
    background-position: top 29px center;
  }

  .promo-vrf__app-store-link {
    margin-right: 0;
  }

  .promo-vrf__google-pay-link {
    margin-right: 8px;
  }

  .promo-vrf__app-store-link,
  .promo-vrf__google-pay-link {
    width: 140px;
    height: 42px;

    background-size: contain;
  }

}

