.promo {
  background: linear-gradient(180deg, #7FB0F8, #D5D3FF);
}

.promo__container {
  @include container;

  position: relative;

  padding-top: 296px;
  min-height: 999px;

  background-image: url("../img/app-showcase-icon.png");
  background-repeat: no-repeat;
  background-position: top 103px right 53px;

  @include retina {
    background-image: url("../img/app-showcase-icon@2x.png");
    background-size: 690px 813px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 46%;

  font-weight: 300;
  font-size: 56px;
  line-height: 61px;
}

.promo__description {
  margin: 0;
  margin-bottom: 50px;
  max-width: 43%;

  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.promo__google-pay-link,
.promo__app-store-link {
  @include transition;

  display: inline-block;
  width: 162px;
  height: 48px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.promo__google-pay-link {
  margin-right: 12px;

  background-image: url("../img/icon_googlepay_white.svg");
}

.promo__app-store-link {
  background-image: url("../img/icon_appstore_white.svg");
}

.promo__scroll-down {
  position: absolute;
  bottom: 25px;
  left: 50%;

  display: block;
  width: 25px;
  height: 42px;
  margin-left: -12px;

  background-image: url("../img/icon_down_white.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 0;

  &::before,
  &::after {
    @include transition(0.5s);

    content: "";

    position: absolute;
    left: 0;

    width: 25px;
    height: 14px;

    background-image: url("../img/icon_down_white.svg");
    background-repeat: no-repeat;
    opacity: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}
