.special-programs {
  @include container;

  margin-bottom: 160px;
}

.special-programs__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 300;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.special-programs__desc {
  margin: 0;
  margin-bottom: 130px;

  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.67px;
}

.special-programs table {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;

  border-collapse: collapse;
}

.special-programs tr {
  &:nth-child(2n + 1) {
    background-color: rgba(0, 173, 239, 0.02);
  }

  &:first-child {
    background-color: transparent;
  }
}

.special-programs th {
  width: 33.3%;
  padding-bottom: 50px;

  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.32px;
  color: #000000;

  border-bottom: 1px solid #cbcbcb;

  &:first-child {
    text-align: left;
    padding-left: 50px;
  }
}

.special-programs td {
  width: 33.3%;
  height: 60px;
  padding: 5px 25px 5px 50px;
  min-height: 60px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

}

.special-programs td.checked,
.special-programs td.unchecked {
  background-repeat: no-repeat;
  background-position: center;
}

.special-programs td.checked {
  background-image: url("../img/icon_check.svg");
}

.special-programs td.unchecked {
  background-image: url("../img/icon_cross.svg");
}

.special-programs__remark {
  margin: 0;
  padding: 0 53px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

@include desktop-medium {
  .special-programs__title {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.32px;
  }

  .special-programs__desc {
    margin-bottom: 105px;

    font-size: 15px;
    letter-spacing: 0px;
  }

  .special-programs th {
    padding-bottom: 25px;

    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0px;
  }

  .special-programs__remark {
    font-size: 13px;
  }
}

@include tablet {
  .special-programs {
    padding: 0;
  }

  .special-programs__desc {
    margin-bottom: 85px;
  }

  .special-programs th {
    font-size: 18px;
    line-height: 24px;

    &:first-child {
      width: 52.1%;
      padding-left: 32px;
    }

    &:nth-child(2) {
      width: 19.8%;
      padding: 0 10px 25px;
    }

    &:last-child {
      width: auto;
      padding: 0 32px 25px;
    }
  }

  .special-programs td {

    &:first-child {
      width: 52.1%;
      padding-left: 32px;
      padding-right: 120px;
    }

    &:nth-child(2) {
      width: 19.8%;
    }

    &:last-child {
      width: auto;
    }
  }
}

@include mobile-l {
  .special-programs {
    margin-bottom: 100px;
  }

  .special-programs__title {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.24px;
  }

  .special-programs__desc {
    max-width: 86.7%;
    margin: 0 auto 50px;

  }

  .special-programs table {
    min-width: 480px;
  }

  .special-programs tr {
    display: flex;
  };

  .special-programs th {
    font-size: 15px;
    line-height: 17px;

    &:first-child {
      width: 53.3%;
      padding-left: 32px;
    }

    &:nth-child(2) {
      width: 16.7%;
      padding: 0 0 25px;
    }

    &:last-child {
      width: 30%;
      padding: 0 10px 25px;
    }
  }

  .special-programs td {

    &:first-child {
      width: 53.3%;
      padding-left: 32px;
      padding-right: 20px;
    }

    &:nth-child(2) {
      width: 16.7%;
    }

    &:last-child {
      width: 30%;
    }
  }

  .special-programs__remark {
    padding: 0 32px;
  }
}

@include mobile {
  .special-programs__title {
    padding: 0 5%;
  }

  .special-programs__wrapper {
    max-width: 100%;

    overflow: hidden;
  }

  .special-programs__remark {
    padding: 0 16px;
  }
}
