.split-control__container {
  @include container;

  padding-top: 120px;
}

.split-control__about {
  margin: 0;
  margin-bottom: 24px;

  font-size: 24px;
  line-height: 27px;
  color: rgba(136, 136, 136, 0.8);
  text-align: center;
}

.split-control__title {
  @include title-font;

  margin-bottom: 25px;

  text-align: center;
}

.split-control__desc {
  @include desc-font;

  width: 83%;
  margin: 0 auto;

  text-align: center;
}

.split-control__adapter {
  padding-top: 122px;
  padding-left: 51.1%;

  background-image: url("../img/d-adapter-big.png");
  background-repeat: no-repeat;
  background-position: top 80px left 0;

  @include retina {
    background-image: url("../img/d-adapter-big@2x.png");
    background-size: 570px auto;
  }
}

.split-control__adapter-title,
.split-control__app-title,
.split-control__cloud-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}

.split-control__adapter-property-list,
.split-control__app-property-list,
.split-control__cloud-property-list {
  @include list-reset;
}

.split-control__property {
  @include desc-font;

  position: relative;

  padding-left: 30px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 10px;
    height: 10px;

    background-color: #00adef;
    border-radius: 50%;
  }
}

.split-control__adapter .split-control__property {
  padding-right: 70px;
}

.split-control__adapter-property-list {
  margin-bottom: 50px;
}

.split-control__adapter-link {
  width: 215px;
}

.split-control__app {
  display: flex;
  padding-top: 90px;
}

.split-control__right {
  width: 570px;
  height: 400px;
  padding-top: 300px;
  padding-left: 75px;

  background-image: url("../img/icon_d-house-bg.svg");
}

.split-control__left {
  flex-grow: 1;
  padding-top: 110px;
}

.split-control__google-play-link,
.split-control__app-store-link {
  @include transition;

  display: inline-block;
  width: 203px;
  height: 60px;

  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.split-control__google-play-link {
  margin-right: 12px;

  background-image: url("../img/icon_googlepay_grey.svg");
}

.split-control__app-store-link {
  background-image: url("../img/icon_appstore_grey.svg");
}

.split-control__cloud {
  padding-top: 150px;
  padding-left: 51.1%;
  padding-bottom: 100px;

  background-image: url("../img/icon_cloud.svg");
  background-repeat: no-repeat;
  background-position: top 50px left 0;
}

.split-control__cloud .split-control__property {
  padding-right: 70px;
}

@include desktop-medium {
  .split-control__about {
    font-size: 18px;
    line-height: 20px;
  }

  .split-control__adapter-title,
  .split-control__app-title,
  .split-control__cloud-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.63px;
  }

  .split-control__adapter {
    max-width: 918px;
    margin: 0 auto;
    padding-left: 395px;
    padding-top: 84px;

    background-size: 365px auto;
    background-position: top 100px left 0;
  }

  .split-control__adapter .split-control__property {
    padding-right: 50px;
  }

  .split-control__app {
    max-width: 918px;
    margin: 0 auto;
    padding-top: 64px;
  }

  .split-control__right {
    width: 365px;
    height: 256px;
    padding-top: 208px;
    padding-left: 13px;

    background-size: 365px auto;
  }

  .split-control__left {
    padding-top: 57px;
  }

  .split-control__google-play-link,
  .split-control__app-store-link {
    width: 162px;
    height: 48px;

    background-size: 162px 48px;
  }

  .split-control__cloud {
    max-width: 918px;
    margin: 0 auto;
    padding-top: 123px;
    padding-left: 395px;
    padding-bottom: 0;

    background-size: 365px 256px;
    background-position: top 80px left 0;
  }

  .split-control__cloud .split-control__property {
    padding-right: 50px;
  }
}
