.to-programs {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.to-programs__climat-online,
.to-programs__my-comfort,
.to-programs__mobile-control {
  position: relative;

  display: block;
  width: 50%;
  min-height: 470px;
  padding: 50px;

  text-decoration: none;

  &::after {
    @include transition(0.5s);

    content: "";

    position: absolute;
    top: 50%;

    width: 31px;
    height: 15px;
    margin-top: -7px;

    opacity: 0;
    background-image: url("../img/icon_arrow.svg");
  }

  &::before {
    @include transition(0.5s);

    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0);
  }

  &:hover::before {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.to-programs__climat-online {
  background-image: url("../img/daichi-climat-online.png");

  background-position: top right;

  // &::after {
  //   left: 0;

  //   transform: rotate(180deg);
  // }

  // &:hover::after {
  //   left: 50px;

  //   opacity: 1;
  // }

  @include retina {
    background-image: url("../img/daichi-climat-online@2x.png");
    background-size: 960px auto;
  }
}

.to-programs__my-comfort {
  background-image: url("../img/daichi-comfort.png");

  background-position: top right;

  // &::after {
  //   right: 0;
  // }

  // &:hover::after {
  //   right: 50px;

  //   opacity: 1;
  // }

  @include retina {
    background-image: url("../img/daichi-comfort@2x.png");
    background-size: 960px auto;
  }
}

.to-programs__mobile-control {
  background-image: url("../img/app-showcase-bg-right.png");

  background-position: top right;

  // &::after {
  //   left: 0;

  //   transform: rotate(180deg);
  // }

  // &:hover::after {
  //   left: 50px;

  //   opacity: 1;
  // }

  @include retina {
    background-image: url("../img/app-showcase-bg-right@2x.png");
    background-size: 960px auto;
  }
}

.to-programs a:first-child {
  &::after {
    left: 0;

    transform: rotate(180deg);
  }

  &:hover::after {
    left: 50px;

    opacity: 1;
  }
}

.to-programs a:last-child {
  &::after {
    right: 0;
  }

  &:hover::after {
    right: 50px;

    opacity: 1;
  }
}

.to-programs p {
  position: relative;

  margin: 0;
  margin-bottom: 7px;

  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: rgba(136, 136, 136, 0.8);

  z-index: 1;
}

.to-programs__mobile-control p {
  color: rgba(0, 0, 0, 0.5)
}

.to-programs h2 {
  position: relative;

  max-width: 405px;
  margin: 0;

  font-weight: 300;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.32px;
  color: rgba(0, 0, 0, 0.8);

  z-index: 1;
}

@include desktop-medium {
  .to-programs__climat-online,
  .to-programs__my-comfort {
    min-height: 530px;
  }

  .to-programs__climat-online {
    background-image: url("../img/daichi-climat-online-medium.png");
    background-size: cover;

    @include retina {
      background-image: url("../img/daichi-climat-online-medium@2x.png");
    }
  }

  .to-programs__my-comfort {
    background-image: url("../img/daichi-comfort-medium.png");
    background-size: cover;

    @include retina {
      background-image: url("../img/daichi-comfort-medium@2x.png");
    }
  }
}

@include tablet {
  .to-programs__climat-online,
  .to-programs__my-comfort {
    padding: 32px;
  }

  .to-programs__climat-online {
    background-image: url("../img/daichi-climat-online-tablet.png");

    @include retina {
      background-image: url("../img/daichi-climat-online-tablet@2x.png");
    }
  }

  .to-programs__my-comfort {
    background-image: url("../img/daichi-comfort-tablet.png");

    @include retina {
      background-image: url("../img/daichi-comfort-tablet@2x.png");
    }
  }
}

@include mobile-l {
  .to-programs {
    flex-direction: column;
  }

  .to-programs__climat-online,
  .to-programs__my-comfort {
    width: 100%;
    min-height: 290px;
  }

  .to-programs__climat-online {
    background-image: url("../img/daichi-climat-online-mobile-l.png");

    @include retina {
      background-image: url("../img/daichi-climat-online-mobile-l@2x.png");
    }
  }

  .to-programs__my-comfort {
    background-image: url("../img/daichi-comfort-mobile-l.png");

    @include retina {
      background-image: url("../img/daichi-comfort-mobile-l@2x.png");
    }
  }

  .to-programs p {
    font-size: 15px;
    line-height: 16px;
  }

  .to-programs h2 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.24px;
  }
}

@include mobile {
  .to-programs__climat-online,
  .to-programs__my-comfort {
    min-height: 200px;
    padding: 16px 5%;
  }

  .to-programs__climat-online {
    background-image: url("../img/daichi-climat-online-mobile.png");

    @include retina {
      background-image: url("../img/daichi-climat-online-mobile@2x.png");
    }
  }

  .to-programs__my-comfort {
    background-image: url("../img/daichi-comfort-mobile.png");

    @include retina {
      background-image: url("../img/daichi-comfort-mobile@2x.png");
    }
  }
}
