//РАЗРЕШЕНИЯ
// Меньше 1920
@mixin desktop {
  @media (max-width: $width-desktop-max - 1px) {
    @content;
  }
}

// Меньше 1276
@mixin desktop-medium {
  @media (max-width: $width-desktop-medium - 1px) {
    @content;
  }
}

// Меньше 1516
@mixin desktop-catalog {
  @media (max-width: $width-desktop-catalog - 1px) {
    @content;
  }
}

// Меньше 1024
@mixin tablet {
  @media (max-width: $width-desktop - 1px) {
    @content;
  }
}

// Меньше 768
@mixin mobile-l {
  @media (max-width: $width-tablet - 1px) {
    @content;
  }
}

// Меньше 480
@mixin mobile {
  @media (max-width: $width-mobile-large - 1px) {
    @content;
  }
}

// СБРОС СТИЛЕЙ

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

// ШРИФТЫ
@mixin font-face($name, $filename, $weight) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/"+$filename+".woff2") format("woff2"),
      url("../fonts/"+$filename+".woff") format("woff");
  }
}

// РЕТИНА
@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// КОНТЕЙНЕР
@mixin container {
  margin: 0 auto;
  max-width: 1516px;
  padding-left: 53px;
  padding-right: 53px;
}

//ПЛАНВНЫЙ ХОВЕР
@mixin transition($duration: 0.2s) {
  transition: all $duration ease;
}
